
.logoMain {
  width: 300px;
}
.jumbotron {
  text-align: center;
  color: white;
  background-color: rgb(51,122,183);
  margin: 0;
}

.comCreateForm {
  display: block;
}

.wordCloud {
  display: none;
}

.panel-primary {
  margin: 2em;
}

.comHeaders {
  margin: 0;
}

.taskHeaders {
  text-align: center;
}

.thumbnail {
  margin: 1em;
}
 .landingMain {
   margin: 3em;
   text-align: center;
 }

.superMain {
  margin: auto;
}
 .taskColumn {
   box-sizing: border-box;
   background-color: #d9edf7;
   border: solid white 1em;
}

 .glyphicon {
   color: rgb(51,122,183);
   font-size: 1.5em;
 }
 .statusCount {
   font-size: 1em;
   font-weight: bold;
 }
 .notes {
   padding: .5em;
   position: relative;

 }

 .enterZip {
   text-align: center;
   font-size: 2em;
 }

 .userIcon {
   border-radius: 50%;
   display: block;
   float: right;
   position: absolute;
   right: -10px;
   bottom: -10px;
 }
